.wrp {
  max-width: 75%;
  margin-top: 2.5em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.5em;
  padding-right: 2.5em;
}

canvas {
  margin-top: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}
.input-section {
  margin-top: 1em;
}
.button {
  color: #444444;
  background: #F3F3F3;
  border: 1px #DADADA solid;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 9pt;
  outline: none;
}
.radio {
  margin: 1.5em;
  padding: 2.5em;
  &:before{
    width: 2em;
    height: 2em;
    border-radius: 15px;
    top: -2.2em;
    left: -0.5em;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid white;
  }
  &_Blue:before {
    background-color: blue;
  }
  &_Red:before {
    background-color: red;
  }
  &_Yellow:before {
    background-color: yellow;
  }
  &_Black:before {
    background-color: black;
  }
  &_Green:before {
     background-color: green;
   }
  &_Orange:before {
    background-color: orange;
  }
  &_Purple:before {
    background-color: purple;
  }
}
.label {
  padding: 0.25em;
  &-underline{
    border-color: black;
    border-bottom-style: solid;
    &_thin{
      border-bottom-width: 1px;
    }
    &_thick {
      border-bottom-width: 5px;
    }
    &_thicker{
      border-bottom-width: 10px;
    }
  }
}
